.page-header {
  margin-bottom: 16px;
  @include flex($align: center);
  @include surface($color-accent, $radius: 0 0 16px 16px);
  @include media-breakpoint-up("md") {
    background-image: url("assets/header-background/background-md.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  @include media-breakpoint-up("lg") {
    background-image: url("assets/header-background/background-xl.png");
    background-repeat: no-repeat;
  }

  &__img {
    margin: 16px 0;
    @include media-breakpoint-up("md") {
      display: none;
    }
    @include media-breakpoint-up("lg") {
      display: none;
    }
  }

  &__title {
    @include font-token($font-display-x-large);
    @include media-breakpoint-up("md") {
      margin-bottom: 24px;
      margin-top: 32px;
    }
    @include media-breakpoint-up("lg") {
      margin-bottom: 24px;
      margin-top: 32px;
    }
  }
}
