.search-bar {
  padding: 8px;
  width: 100%;
  @include surface($color-accent-02, $radius: 0 0 8px 8px);
  @include media-breakpoint-up("lg") {
    background-color: transparent;
    padding: 0 32px 24px 32px;
  }
  &__container {
    @include flex(row);
    @include surface($color-input-background, $radius: 8px);
    padding: 7px 16px;
    border: 1px solid $color-input-border-default;

    &.active {
      border: 1px solid $color-input-border-ring;
    }
  }

  &__input {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    @include font-token(
      $font-body-medium-regular,
      $color-input-text-placeholder
    );

    &:focus {
      outline: none;
    }

    &::placeholder {
      @include font-token(
        $font-body-medium-regular,
        $color-input-text-placeholder
      );
    }
  }

  &__button {
    background: none;
    border: none;
    padding: 0;
    outline: inherit;
    width: 24px;
    height: 24px;
  }
}
