.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  background-color: $color-skeleton-background;

  &-img {
    border: none;
    background-image: $color-skeleton-background;
  }

  &-text {
    @include skeleton(139px, 24px);
  }

  &-chart {
    @include skeleton(100%, 12px);
    padding: 0;
  }

  &-stats {
    @include skeleton(50%, 12px);
    margin-top: 8px;
    @include media-breakpoint-up("lg") {
      margin-top: 0px;
    }
  }

  &-points {
    @include skeleton(144px, 56px, $radius: 8px);
    margin-top: 16px;
    padding: 0;
    @include media-breakpoint-up("lg") {
      margin-top: 0px;
    }
  }

  &-hidden {
    display: none;
    padding: 0;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: $color-skeleton-background;
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
