.team-card {
  &__header {
    @include flex(row, center, $gap: 16px);
    padding-bottom: 16px;
    flex: 1;

    @include media-breakpoint-up("md") {
      padding-bottom: 0;
    }
  }

  &__team-name {
    @include font-token($font-body-medium-semibold);
  }

  &__image {
    border: 1px solid $color-border;
    background-image: var(--team-badge-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  &__badge {
    @include flex($align: center, $justify: center);
    @include font-token(
      $font-caption-x-small-regular,
      var(--team-card__badge-color)
    );
    @include surface(var(--team-card__badge-bg-color), 0 9999px 9999px 0);
    margin-top: 32px;
    width: 32px;
    height: 24px;
  }
}
