// Color system
$white: #fff;

$blue-100: #ebefff;
$blue-500: #4a6cf7;
$blue-600: #2951f7;

$gray-50: #f8fafc;
$gray-300: #cbd5e1;
$gray-900: #0f172a;

// Spacer
$spacer: 8px;

// Borders
$border-radius: 16px;
$border-width: 1px;
$border-color: $gray-300;

// Icons
$icon-size: 24px;
$icon-size-lg: 48px;

// Font sizes
$font-size-base: 16px;
$font-size-lg: 18px;

// Font weights
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Line heights
$line-height-base: 1.5;
$line-height-headings: 1.2;

// Transition
$transition-base: 0.2s ease-in-out;

// Grid
$grid-breakpoints: (
  xs: 0,
  md: 799px,
  lg: 1280px,
);

$container-max-widths: (
  md: 1140px,
);

$name: xs;
$flexboxgrid-grid-columns: 12;
$flexboxgrid-gutter-width: 8px;
$flexboxgrid-outer-margin: $flexboxgrid-gutter-width * 2 !default;
$gutter-compensation: $flexboxgrid-outer-margin * 0.5 * -1 !default;

// Colors teams

$color-badge-default-top: #4a6cf7;
$color-badge-default: #e2e8f0;
$color-badge-foreground: #f1f5f9;
$color-card: #ffffff;
$color-border: #cbd5e1;
$color-muted-foreground: #334155;
$color-chart-1: #0ebca7;
$color-chart-2: #94a3b8;
$color-chart-3: #f45b69;
$color-chart-1-foreground: #11423c;
$color-chart-2-foreground: #334155;
$color-chart-3-foreground: #4e2529;
$color-primary-foreground: #f1f5f9;
$color-primitives-colors-primary: #4a6cf7;
$color-badge-default-foreground: #0f172a;
$color-accent: #ebefff;
$color-accent-02: #ced8ff;
$color-border: #cbd5e1;
$color-accent-foreground: #2951f7;
$color-input-border-default: #cbd5e1;
$color-input-text-placeholder: #334155;
$color-foreground: #0f172a;
$color-skeleton-background: #e2e8f0;
$color-empty-state-foreground: #334155;
$color-input-border-ring: #4a6cf7;
$color-input-background: #ffffff;

// Shadows
$shadow-elevation-01: 0 4px 4px 0 rgba(0, 0, 0, 0.04),
  0 2px 20px -8px rgba(0, 0, 0, 0.1);

// Fonts
$font-family-base: "Inter", sans-serif;
$font-caption-x-small-regular: $font-weight-normal 12px/16px $font-family-base;
$font-caption-x-small-bold: $font-weight-bold 12px/16px $font-family-base;
$font-body-medium-semibold: $font-weight-semibold 16px/24px$font-family-base;
$font-body-small-regular: $font-weight-normal 14px/20px $font-family-base;
$font-heading-large: $font-weight-bold 18px/24px $font-family-base;
$font-body-medium-regular: $font-weight-normal 16px/24px $font-family-base;
$font-display-x-large: $font-weight-bold 32px/40px $font-family-base;
